*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    
   
}
  .navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

}
.navbar__s1{
    display: flex;
    align-items: center;
}
.navbar__s1__img{
    height: 30px;
    width: 30px;
}
.navbar__s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.navbar__s3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar__s3__disc{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.navbar__s3__title{
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.title{
    font-size: 30px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    
}
.search{
    padding: 5px;
    border: solid black 1px;
    border-radius: 30px;
    display: flex;
    gap: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    align-items: center;  
}
.search input{
   padding: 10px;
   width: 80%;
   border: none;
   font-size: 16px;
   
}
.search input:focus{
    outline: none;
}
.search__one{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 70px;
    margin-right: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 30px;
    border: solid black 1px;    
    background-color: greenyellow;
    color: black;
}
.box{
    height: 400px;
    width: 80%;
    background-color: rgb(110, 102, 228);
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
}
.box__one{
    padding-top: 20px;
    padding-left: 20px;
}
.box__one__img{
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}
.box__two__h1{
    width: 350px;
    height: 50px;
    margin-top: 120px;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 70px;
}
.box__two__h2{
    padding-top: 120px;
    padding-left: 60px;
    margin-bottom: 30px;
}
.box__two__h2{
    font-size: 20px;
}
.box__two__h3{
    background-color: black;
    color: white;
    padding: 13px;
    margin-left: 60px;
    margin-right: 250px;
    border-radius: 30px;
}
.line{
    height: 380px;
    background-color: black;
    color: black;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
}
.navbar__s2__one{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.navbar__s2__two{
    background-color: green;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar__s2__three{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.navbar__s2__four{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.navbar__s2__one:hover{
    background-color: red;
    
}
.navbar__s2__two:hover{
    background-color: red;
    
}
.navbar__s2__three:hover{
    background-color: red;
    
}
.navbar__s2__four:hover{
    background-color: red;   
}
.search__one:hover{
    background-color: green;
}
.navbar__s3__disc:hover{
    background-color: aqua;
    color: black;
}
.box__two__h3:hover{
    background-color: white;
    color: black;
}
.box:hover{
    background-color: brown;
}
