*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;   
}
  .navbar{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.navbar__s1{
    display: flex;
    align-items: center;
}
.navbar__s1__img{
    height: 30px;
    width: 30px;
}
.navbar__s2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.navbar__s3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.navbar__s3__disc{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.navbar__s3__title{
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.title{
    font-size: 30px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    
}
.search{
    padding: 5px;
    border: solid black 1px;
    border-radius: 30px;
    display: flex;
    gap: 5px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    align-items: center;  
}
.search input{
   padding: 10px;
   width: 80%;
   border: none;
   font-size: 16px;
   
}
.search input:focus{
    outline: none;
}
.search__one{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 70px;
    margin-right: 20px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 30px;
    border: solid black 1px;    
    background-color: greenyellow;
    color: black;
}
.box{
    height: 400px;
    width: 80%;
    background-color: rgb(200, 197, 248);
    color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
}
.box__one{
    padding-top: 20px;
    padding-left: 20px;
}
.box__one__img{
    margin-left: 20px;
    margin-top: 20px;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}
.box__two__h1{
    width: 350px;
    height: 50px;
    margin-top: 120px;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 70px;
}
.box__two__h2{
    padding-top: 120px;
    padding-left: 60px;
    margin-bottom: 15px;
}
.box__two__h2{
    font-size: 20px;
}
.box__two__h3{
    background-color: black;
    color: white;
    padding: 13px;
    margin-left: 60px;
    margin-right: 250px;
    border-radius: 30px;
}
.line{
    height: 380px;
    background-color: black;
    color: black;
    padding: 1px;
    margin-left: 20px;
    margin-top: 10px;
}
.navbar__s2__one{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.navbar__s2__two{
    background-color: green;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar__s2__three{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.navbar__s2__four{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}
.navbar__s2__one:hover{
    background-color: red;
    
}
.navbar__s2__two:hover{
    background-color: red;
    
}
.navbar__s2__three:hover{
    background-color: red;
    
}
.navbar__s2__four:hover{
    background-color: red;   
}
.search__one:hover{
    background-color: green;
}
.navbar__s3__disc:hover{
    background-color: aqua;
    color: black;
}
.box__two__h3:hover{
    background-color: white;
    color: black;
}
.box:hover{
    background-color: rgb(107, 195, 236);
}
.interest{
    margin-top: 50px;
    padding-left: 10%;
}
.interest__p1{
    padding-top: 10px;  
}
    .interest{
        padding: 20px;
    }

    
    .interest-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        
        
    }
    .image-card img{
        width: 300px;
        height: 250px;
        
        padding: 5px;
        
        border-radius: 10px;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        
    }
    .image-card img:hover{
        background-color: black;
        transition: 1s;
    
    }
    
    .image-card h1{
        width: 200px;
        position: absolute;
        
        color: whitesmoke;
        bottom: 20px;
        margin-left: 20px;}
.footer{
    background-color: #f2f2f2;
    color: black;
    height: 500px;
    width: 1600px;
    padding-top: 10px;
    font-size: 14px;
    margin-top: 100px;
    padding-left: 100px;
    cursor: pointer;
}
.footer-1{
    display: flex;
    gap: 10px;
    margin: 30px;
    
}
.footer-1 p{
    padding: 5px;
    
}
.footer-1-s4{
    margin-left: 200px;
}

.footer-2{
    display: flex;
    gap: 10px;
    margin: 30px;
}
.footer-2 h4{
    padding: 5px;
}
.footer-2-s3{
    display: flex;
    gap: 10px;
}
.footer-2-s1 img{
    height: 25px;
    width: 25px;

}
.footer-2-s1 p{
    font-size: 10px;
}
.footer-3{
    width: 700px;
    height: 100px;
}
.one{
    height: 50px;
    width: 100px ;
    background-color: white;
    color: black;
    border: black 2px solid;
    border-radius: 10px;
    padding-left: 25px;

}
.two{
    height: 50px;
    width: 100px ;
    background-color: white;
    color: black;
    border: black 2px solid;
    border-radius: 10px;
    padding-left: 25px;

}
.footer-1-s1 p:hover{
    transition: 1s;
    background-color: grey;
}
.footer-1-s2 p:hover{
    transition: 1s;
    background-color: grey;
}
.footer-1-s3 p:hover{
    transition: 1s;
    background-color: grey;
}
.footer-1-s4 p:hover{
    transition: 1s;
    background-color: grey;
}
.footer-2-s1 p:hover{
    transition: 1s;
    background-color: grey;
}
.footer-2-s2 h4:hover{
    transition: 1s;
    background-color: grey;
}
.footer-2-s3 h4:hover{
    transition: 1s;
    background-color: grey;
}
.footer-3 p:hover{
    transition: 1s;
    background-color: gray;
}
.footer-3-s1:hover {
    transition: 1s;
    background-color: grey;

}

    

@media  screen and (max-width:600px) {
    .navbar{
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
        height: 20px;
        width: 300px;
        margin-left: 30px;

    }
    .navbar input{
        display: none;
    }
    .navbar button{
        width: 100px;
        height: 50px;
        margin-top: 10px;
        margin-left: 100px;

    }
    .Tripadvisor img{
        padding: 20px;
        display: block;
        margin-left: 150px;
        width: 100px;
        

    }
    .heading{
        gap: 5px;
        width: 600px;
        background-color: transparent;
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: gray;
        margin-right: 0;
        
    
    }
    .Discover h4{
        display: none;
        
        
    }
    .icon{
        width: 20px;
        margin-right: 400px;
        
        
    }
    .icon p{
        width: 50px;
        font-size: 12px;
    }
    .icon .button{
        width: 60px;
        border-radius: 5px;
        height: 40px;
        font-size: 12px;
    }
    .heading-3{
        width: 300px;
        gap: 2px;
        font-size: 12px;
        
    }
    .sale-image__offer h1{
        
        transform: none;
        background-color: transparent;
        color: beige;
        padding: 2px;
        text-align: center;
        margin-bottom: 30px;
        
        font-size: 20px;


    }
    .sale-image__offer h1{
        font-size: 16px;

    }
    .sale-image__offer p{
        color: #f2f2f2;
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 15px;
    }
    .sale-image__offer button{
        margin-bottom: 30px;
        
        font-size: 12px;
        width: 80px;
    }
    .sale-image img{
        width: 300px;
        height: 200px;
        
        margin-left: 10px;
    }
    .interest-title{margin-left: 2px;
    }
    .interest p{
        margin-left: 2px;
    }
    .interest-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 2px;
        margin-left: 2px;
        
        
    }
    .image-card img{
        width: 220px;
        height: 200px;
        margin-left: 2px;
        
        
    
        

    }
    .image-card h1{
        position: static;
        color: black;
        font-size: 18px;
        background-color: transparent;
        text-align: center;
        margin-top: 5px;
    }
    .experiences-title{
        margin-left: 2px;
    }
    .experiences p{
        margin-left: 2px;
    }
    .How-to-see{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 15px;
        width: 90%;
    }
    .side{
        flex-direction: column;
        align-items: center;
    }
    .side img{
        width: 90%;
        height: auto;
        margin-top: 10px;

    }
    .side h2{
        margin-top: 10px 0;
        padding: 10px;
        font-size: 20px;
    }
    .How-to-see button{
        margin: 30px auto;
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
    .How-to-see p{
        margin: 10px auto;
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
    .inspiration {
        margin-left: 2px;
    }
    .inspiration h2{
        margin-left: 2px;
    }
    .inspiration-container{
        flex-direction: column;
        align-items: center;
        padding: 0;
        width: 550px;
        height: 500px;
        background-color: transparent;
        display: block;
        gap: 5px;
    }
    .gallery-card{
        width: 300px;
        height: 200px;
        
        display: flex;
        margin-left: 50px;
        

        
        
    }
    
    .gallery-card img{
        width: 220px;
        height: 100px;
        margin-left: 20px;
        
        
        
    }
    
    .gallery-card p{
        display: none;
    }
    .inspiration h2{
        text-align: center;
        font-size: 22px;
    }
    .big-container{
        display: none;
    }
    .footer{
        width: 100%;
        padding: 15px;
        font-size: 13px;
    }
    .footer-1{
        flex-direction: column;
        gap: 20px;
    }
    
    .footer-1-s3,
    .footer-1-s4{
        display: none;
    }
    .footer-2,
    .footer-3{
        display: none;
    }
}
.container {
    position: relative;
    font-family: Arial;
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-one{
    width: 10px;
    height: 10px;
  }
  .container__one{
    height: 300px;
    width: 300px;
    border-radius: 15px;
  }
  .container-s1{
    position: relative;
    font-family: Arial;
  }
  .text-block__one {
    position: absolute;
    bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container__two{
    height: 300px;
    width: 300px;
    border-radius: 15px;
}
.container-s2{
    position: relative;
    font-family: Arial;
  }
  .text-block__two {
    position: absolute;
    bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container__three{
    height: 300px;
    width: 300px;
    border-radius: 15px;
  }
  .container-s3{
    position: relative;
    font-family: Arial;
  }
  .text-block__three {
    position: absolute;
    bottom: 20px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .container__four{
    height: 300px;
    width: 300px;
    border-radius: 15px;
  }